
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.badge {
    background-color: rgba(189, 116, 24, 0.6);
    color: white;
}

.price-quantity h6 {
    display: flex;
    align-items: center;
}

.price-quantity span {
    white-space: nowrap;
}

.btn-group a {
    margin-right: 0.5rem;
}

.divider-text:before,
.divider-text:after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}

.banner {
    background-color: #ffcc00;
    color: #333;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid #333;
}

@media (max-width: 767px) {
    .action-text {
        display: none;
    }
}
