@{
    ViewData["Title"] = "Terms and Conditions of Use";
}

<h1>@ViewData["Title"]</h1>

<p>Last Updated: 7/11/24</p>

<p>YOUR USE OF THIS WEBSITE AND THE SERVICES OFFERED AND CONTENT CONTAINED HEREIN CONSTITUTES YOUR AGREEMENT TO BE BOUND BY THESE TERMS AND CONDITIONS OF USE. YOU MUST BE AT LEAST EIGHTEEN (18) YEARS OLD TO USE THE WEBSITE OR, IF YOU ARE BETWEEN THE AGES OF THIRTEEN (13) AND EIGHTEEN (18), YOU MUST HAVE YOUR PARENT OR GUARDIAN’S PERMISSION TO USE THE WEBSITE AND REPRESENT AND WARRANT THAT YOU HAVE YOUR PARENT OR GUARDIAN’S PERMISSION.</p>

<p>AmaralBooks, including all of its features and content and related or commonly-owned or controlled websites (“Website”), is a service made available by AmaralBooks, Inc. (“AmaralBooks”), a public benefit corporation that provides independently owned booksellers, industry partners, and conscious consumers with a direct-to-consumer e-commerce solution competitive to that of major retailers. All content, information, services, text, photographs, video, audio, graphics and software ordered or provided on or through the Website, including but not limited to Seller Content and Website Content (each defined below) (collectively, “Content”) may be used solely under the following Terms and Conditions of Use and all other terms and conditions or documents incorporated by reference herein, including, without limitation, AmaralBooks’ Privacy Policy (collectively, “Terms of Use”), which constitutes a legally binding agreement relating to the use of the Website and the services provided therein, including the Content, between AmaralBooks and each visitor or user of the Website including, without limitation, those who purchase products on the Website (each, a “Customer”) (collectively, “Users,” and each, a “User” or “you”).</p>

<p>Please read these Terms and Conditions of Use carefully before using this Website. By using this Website, you agree to be bound by these Terms of Use. If you do not agree to these Terms of Use, please do not use this Website.</p>

<p>For more information about our Privacy Policy, please contact us at <a href="mailto:cs@amaralbooks.app">cs@amaralbooks.app</a>.</p>


